{% extends "base.html" %}

{% block cuerpo %}
<div class="row"><!-- fila en editar -->
    <div class="col-md-4 offset-md-4">
        <h2>Editar materias</h2>
        <!-- Aqui codigo tarjeta -->
        <div class="card"><!--La tarjeta-->
            <div class="card-body">
                <form action="/editarVentas/" method="POST">{% csrf_token %}<!--Falta action-->
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                        placeholder="id Venta" value="{{misventas.codigo}}" minlength="1" maxLenght="6" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtcliente" name="txtcliente" class="form-control"
                        placeholder="id cliente" value="{{misventas.id_cliente}}" minlength="1" maxLenght="6" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtfecha" name="txtfecha" class="form-control"
                        placeholder="fecha de venta" value="{{misventas.fecha}}" minlength="1" maxLenght="6" required><br>
                    </div>           
                        <input type="text" id="txttotal" name="txttotal" class="form-control"
                        placeholder="total de venta" value="{{misventas.total_venta}}" minlength="1" maxLenght="6" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtmetodo" name="txtmetodo" class="form-control"
                        placeholder="id producto" value="{{misventas.id_producto}}" minlength="1" maxLenght="6" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtempleado" name="txtempleado" class="form-control"
                        placeholder="id empleado" value="{{misventas.id_empleado}}" minlength="1" maxLenght="6" required><br>
                    </div>
                    <div>
                        <input type="text" id="txtestatus" name="txtestatus" class="form-control"
                        placeholder="estatus" value="{{misventas.estatus}}" minlength="1" maxLenght="6" required><br>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar venta</button>
                    </div>
                </form>
            </div>
        </div><!--La tarjeta-->
        <!-- Aqui codigo tarjeta -->
    </div>
</div><!-- fila en editar -->




{% endblock %}